body {
  font-family: 'Roboto', sans-serif;
}

#quina-list,
#megasena-list,
#lotofacil-list,
#duplasena-list,
#lotomania-list,
#timemania-list {
  ul {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
  }
  li {
    display: inline-block;
    margin: 4px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 6px;
    text-align: center;
  }
}

#quina-list {
  li {
    background: #283593;
  }
}

#megasena-list {
  li {
    background: #00a45f;
  }
}

#lotofacil-list {
  li {
    background: #a23b8f;
  }
}
#duplasena-list1 {
  li {
    background: #971534;
  }
}

#duplasena-list2 {
  li {
    background: #c7154e;
  }
}

#lotomania-list {
  li {
    background: #ea7043;
  }
}

#timemania-list {
  li {
    margin-left: 0;
    background: #e7a345;
  }
}

.top {
  margin-top: 30px;
}

.home {
  p {
    font-size: 1.2em;
  }
  img {
    margin-top: 35px;
  }
}

#navMenu .subtitle {
  color: #ccc;
}

#brand .title {
  color: #fff;
}

.navbar {
  background-color: #485a3f;
}

.card {
  padding: 10px;
  -webkit-box-shadow: 5px 7px 15px 5px rgba(0, 0, 0, 0.38);
  box-shadow: 5px 7px 15px 5px rgba(0, 0, 0, 0.38);
}

.modal-content {
  overflow: hidden;
}

.table {
  padding: 20px;
  th,
  td {
    text-align: center;
  }
}

.loto-body {
  margin-top: 15px;
}

#preco-apostas {
  float: right;
}
